{% extends "parent.html" %}
{% block main %}
<!--<h2 style="text-align:center;"> This is Index page</h2>-->
<h2 style="text-align: center; margin-top: 30px;">About Us</h2>
<div class="row" style="">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="text-align: center;">
        <p style=" text-align: justify;">We are here to provide you best tretment and facilities with expereinced Doctors and Our tested reports with 100% accuracy Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, ad? </p>
    </div>
    <div class="col-sm-3"></div>

</div>
<div class="row mt-2" style="">
    <div class="col-sm-6">
        <h2 style="text-align: center; ">Our Services</h2>
        <p style=" text-align: justify;">Surgical services include anesthesiology services, nursing care, pre- and post-operative rooms, and lab and x-ray technicians. Hospitals provide pharmacy services that supply patients with medications as prescribed</p>
    </div>
    <div class="col-sm-6">
        <h2 style="text-align: center;">Products & Facilities</h2>
        <p style=" text-align: justify;">Nebulizers, CPAP, BiPAP, ventilators are always on their medical equipment list. In the present crisis caused by the second wave of coronavirus infection across the country, many hospitals are dealing with a shortage of ventilators and other respiratory devices.</p>
    </div>
</div>
<div class="row" style="">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 style="text-align: center;">Experienced Doctor</h2>
        <p style="text-align: justify;">A doctor's profile primarily includes the professional details about the doctor, such as their qualifications, experience, services and contact details. Doctors usually create their profiles on their personal sites or websites that allow doctors to list themselves.</p>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock main %}