{% extends "parent.html" %}
{% block main %}
<!-- <h2 style="text-align:center;"> This is Index page</h2> -->
<div class="row" style="height: 100%;  background-image: radial-gradient(at top left, transparent 67%, #f3f3f3 67.5%),
linear-gradient(135deg, rgb(71, 164, 174) 0%, rgb(132, 2, 2) 100%);
background-size: 120% 100%,cover;
background-repeat: no-repeat;
margin: 0;
height: 100vh; background-size: cover; width: 103%; ">
    <div class="col-sm-8" style="height: 100%; width: 60%;">
        <div id="home" style="margin-top: 140px; margin-left: 10px; padding: 15px;">

            <span style="font-size: 30px; font-weight: bold; line-height: 30px;text-align: center; color: yellow;">MEDICAL <br>HELTHCARE</span>
            <p style="text-align: justify; margin-top: 20px; font-size: 18px; color:rgb(255, 255, 255);">Health care, or healthcare, is the improvement of health via the prevention, diagnosis, treatment, amelioration or cure of disease, illness, injury, and other physical and mental impairments in people. Health care is delivered by health professionals and allied health fields. Medicine, dentistry, pharmacy, midwifery, nursing, optometry, audiology, psychology, occupational therapy, physical therapy, athletic training, and other health professions all constitute health care.</p>
            <a href="#"><button type="submit" class="btn btn-primary">Read More..</button></a>
        </div>
    </div>
    <div class="col-sm-4" style="height: 100%; width: 40%;">
        <div class="imgsh">
            <img src="static/images/d1.png" style="height: 70%; width: 90%; margin-top: 80px;" alt="doctor image">
        </div>
    </div>
</div>
{% endblock main %}