{% extends "customerparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12" style="">
            <h1 style="text-align:center; background-color: white; color: black; padding: 20px;" >MARC LABORATORY</h1>   
            <p style="padding: 20px;">India Brand Marc Laboratories is a Trust established by the Department of Commerce, Ministry of Commerce and Industry, Government of India. Marc Laboratories's primary objective is to promote and create international awareness of the Made in India label in markets overseas and to facilitate dissemination of knowledge of Indian products and services. Towards this objective, Marc Laboratories works closely with stakeholders across government and industry</p>
            <p style="padding: 20px;">India, today, is well established as a credible business partner, preferred investment destination, rapidly growing market, provider of quality services and manufactured products; and, stands on the threshold years of unprecedented growth.</p>
            <p style="padding: 20px;">India's Talent, Markets, Growth and Opportunity drive Brand India.</p>  
            <p style="padding: 20px;">www.marclab.org is a knowledge centre for global investors, international policy-makers and world media seeking updated, accurate and comprehensive information on the Indian economy, states and sectors. IBEF regularly tracks government announcements in policy, foreign investment, macroeconomic indicators and business trends.</p>   
            <p style="padding: 20px;">Marc Laboratories works with a network of stakeholders - domestic and international - to promote Brand India.</p>   
        </div>
    </div>
{% endblock body %}
