{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center; background-color: white; padding: 10px; color: black;">Dashboard</h1>   
            <div class="row mt-2">
                <div class="col-sm-5" style=" min-height: 600px;margin-top: 20px; ">
                    <h1 style=" ">Market Size</h1>
                    <img src="https://www.ibef.org/assets/images/charts/manufacturing.jpg" style=" margin:5%; max-height: 90%; width: 90%; align-items: center;" alt="">
                </div>
                <div class="col-sm-7" style=" min-height: 600px;margin-top: 20px;">
                    <h1 style=" ">About</h1>
                    <p style="margin:5%;">Manufacturing exports have registered their highest ever annual exports of US$ 447.46 billion with 6.03% growth during FY23 surpassing the previous year (FY22) record exports of US$ 422 billion. By 2030, Indian middle class is expected to have the second-largest share in global consumption at 17%.</p>
                    <p style="margin:5%;"> India’s gross value added (GVA) at current prices was estimated at US$ 770.08 billion as per the quarterly estimates of the first quarter of FY24.</p>
                    <p style="margin:5%;">India's GDP surged by 8.4% in the October-December quarter, surpassing expectations. GDP growth was driven by robust performances in the manufacturing and construction sectors, with the manufacturing sector expanding by 11.6% annually and the construction sector growing by 9.5%.</p>  
                    <p style="margin:5%;">India has potential to become a global manufacturing hub and by 2030, it can add more than US$ 500 billion annually to the global economy. As per the economic survey reports, estimated employment in manufacturing sector in India was 5.7 crore in 2017-18, 6.12 crore in 2018-19 which was further increased to 6.24 crore in 2019-20. India's display panel market is estimated to grow from ~US$ 7 billion in 2021 to US$ 15 billion in 2025.</p>   
                    <p style="margin:5%;">The manufacturing GVA at current prices was estimated at US$ 110.48 billion in the first quarter of FY24.</p>   
                </div>
            </div>
              
        </div>
    </div>
{% endblock body %}
